.form-container {
    /* max-width: 1000px; */
    width: 30%;
    margin: 70px auto;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
    padding: 36px 32px 28px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media(max-width: 769px) {
    .form-container {
        width: 50%;
    }
}
@media(max-width: 450px) {
    .form-container {
        width: 80%;
    }
}

h2 {
    text-align: center;
    color: black;
    /* margin-bottom: 24px; */
   
}

.logo-container {
    text-align: center;
    margin-bottom: 18px;
}

.logo-img {
    height: 70px;
    margin-bottom: 5px;
}


input[type="password"] {
    color: #222 !important;
    /* Dark text for visibility */
    background: #fff;
}
.form-group {
    margin-bottom: 16px;
}

.form-label {
    display: block;
    margin-bottom: 6px;
    color: #222;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.access-btn {
    width: 100%;
    background: #3b5fbf;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 12px 0;
    font-size: 1.1em;
    margin-bottom: 12px;
    cursor: pointer;
}