.admin-layout {
  display: flex;
  min-height: 100vh;
  position: relative;
}

app-sidebar {
  width: 250px;
  min-width: 250px;
  /* background: #212529; */
  color: #fff;
  min-height: 100vh;
  position: relative;
  z-index: 98;
}

.admin-content {
  flex: 1;
  padding: 40px 40px 0 60px;
  background: #fafafa;
  min-height: 100vh;
  transition: margin-left 0.3s ease-in-out;
}

/* When sidebar is collapsed */
.sidebar-collapse + .admin-content {
  margin-left: 0;
  width: 100%;
}
  /* When sidebar is expanded */
 .main-content-expanded {
    padding: 40px 40px 0 60px;
  }
  
  /* When sidebar is collapsed */
  .main-content-collapsed {
    margin-left: -12%;
  }

  @media(max-width:450px){
    sidebar-expanded {
      transform: translateX(0);
      position: absolute;
      left: 0;
      top: 0;
    }
  
    /* .sidebar-collapsed {
      transform: translateX(-100%); 
      position: absolute;
      left: 0;
      top: 0;
    } */
  
    /* Content takes full width */
    .main-content-expanded{
      margin-left: 0;
    }
    .main-content-collapsed {
      margin-left: -55%;
    }
    .admin-content{
      padding: 40px 40px 0 40px !important;
    }
    
  }
  @media(max-width:390px){
    .admin-content{
      padding: 40px 40px 0 25px !important;
    }
  }
  @media(max-width:380px){
    .admin-content{
      padding: 0px 40px 0 23px !important;
    }
  }
  @media(max-width:350px){
    .admin-content{
      padding: 0px 0px 0 0px !important;
    }
  }